/* import */
@import './reset.css';
@import './common.css';
@import './fonts.css';

/* cont-wrapper-1 */
.cont-wrapper-1{
  border-bottom: 1px solid #f2f4f6;
}
.cont-wrapper-1 .inner{
  display: flex;
}
.cont-wrapper-1 [class*='cont-col-']{
  padding-bottom: 20px;
}
.cont-col-left{
  width: 853px;
  padding-right: 60px;
  border-right: 1px solid #f2f4f6;
}
.cont-col-right{
  width: 427px;
  padding-left: 60px;
}

/* header */
.header{
  position: relative;
  z-index: 999;
  background: #fff;
}
.header .group-top{
  height: 55px;
  border-bottom: 1px solid #f2f4f6;
}
.header .group-top .inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header .group-top .col-left{
  display: flex;
  align-items: center;
  gap: 24px;
}
.header .group-top .logo{
  padding: 14px 0 18px;
}
.header .group-top .gnb-list{
  display: flex;
  align-items: center;
}
.header .group-top .gnb-item a,
.header .group-top .gnb-item button{
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  padding: 14px 16px;
}
.header .group-top .gnb-item button{
  display: flex;
  align-items: center;
}
.header .group-top .gnb-item button svg{
  display: block;
  width: 16px;
  height: 16px;
  margin-left:3px;
  transform: rotate(90deg);
}
.header .group-top .gnb-item button svg path{
  stroke: rgba(33,37,41,.86);
}
.header .group-top .col-right{
  position: relative;
  display: flex;
  align-items: center;
}
.header .group-top form{
  max-width: 360px;
  margin: 8px 14px 8px 0;
  border: 1px solid #00c4c4;
  border-radius: 4px;
}
.header .group-top fieldset{
  display: flex;
  align-items: center;
  padding: 8px 10px;
}
.header .group-top .input-text{
  flex: 1;
  padding-right: 32px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header .group-top .input-text::placeholder{
  color: #888;
}
.header .group-top .btn-search{
  cursor: pointer;
}
.header .group-top [class*='link-']{
  display: inline-block;
  padding: 0 10px;
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
}
.header .group-top .link-user{
  color: #495057;
}
.header .group-top .link-project{
  margin-left: 10px;
  padding: 9px 15px;
  color: #fff;
  border: 1px solid #00c4c4;
  background: #00c4c4;
  border-radius: 4px;
  transition: background .3s;
}
.header .group-top .link-project:hover{
  border: 1px solid #00b2b2;
  background: #00b2b2;
}

.header .search-area{
  position: absolute;
  top: 56px;
  left: 0;
  display: none;
  flex-wrap: wrap;
  width: 511px;
  max-height: 90vh;
  font-size: 14px;
  background: #fff;
  box-shadow: 0 0 5px rgba(10,22,70,.06), 0 16px 16px -1px rgba(10,22,70,.1);
  border-radius: 16px;
  z-index: 2;
  overflow: hidden;
}
.header .search-area.on{
  display: flex;
}
.header .search-area .content-wrap.quick{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #f2f4f6;
}
.header .search-area .content-wrap.quick a{
  display: flex;
  align-content: center;
  gap: 2px;
  height: 40px;
  padding: 8px 16px;
  color: #495057;
  font-weight: 500;
  background-color: #f2f4f6;
  border-radius: 20px;
}
.header .search-area .content-wrap.quick a span{
  color: #00c4c4;
}
.header .search-area .content-wrap.search,
.header .search-area .content-wrap.cate{
  position: relative;
  width: 50%;
}
.header .search-area .content-wrap.search{
  padding: 20px;
}
.header .search-area .content-wrap.cate{
  border-left: 1px solid #f2f4f6;
  overflow-y: scroll;
}
.header .search-area .content-wrap.search .title,
.header .search-area .content-wrap.cate .title{
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
}
.header .search-area .content-wrap.cate .title{
  padding: 20px 20px 0 20px;
}
.header .search-area .content-wrap.search .content-box{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background: #ccc;
}
.header .search-area .cate-item{
  border-bottom: 1px solid #f2f4f6;
}
.header .search-area .cate-item button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  padding: 0 20px;
}
.header .search-area .cate-item button:hover{
  font-weight: 700;
}
.header .search-area .cate-item button.on{
  font-weight: 700;
}
.header .search-area .cate-item button.on svg{
  transform: rotate(180deg);
}
.header .search-area .cate-item .text{
  display: flex;
  align-items: center;
  gap: 8px;
}
.header .search-area .cate-item img{
  width: 24px;
  height: 24px;
}
.header .search-area .cate-item svg{
  width: 16px;
  height: 16px;
  transition: transform .3s;
}
.header .search-area .cate-item svg path{
  fill: rgba(0,0,0,.7);
}
.header .search-area .cate-sublist{
  display: none;
  background: #f2f4f6;
}
.header .search-area .cate-subitem a{
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 52px;
}
.header .search-area .cate-subitem a:hover{
  font-weight: 700;
}

.header .group-bottom{
  position: relative;
  height: 55px;
  border-bottom: 1px solid #f2f4f6;
}
.header .swiper-wrapper{
  gap: 40px;
}
.header .swiper-slide{
  position: inherit !important;
}
.header .swiper-slide a{
  display: inline-block;
  height: 55px;
  line-height: 55px;
  white-space: nowrap;
}
.header .swiper-slide:hover > a{
  font-weight: 700;
  border-bottom: 2px solid #000;
}
.header .submenu-area{
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  padding: 16px 0 80px;
  background: #f2f4f6;
  display: none;
}
.header .group-bottom:hover .submenu-area{
  display: block;
}
.header .submenu-list{
  display: none;
  grid-template-columns: repeat(4,170px);
}
.header .submenu-list.on{
  display: grid;
}
.header .submenu-item a{
  font-size: 14px;
  line-height: 42px;
}
.header .submenu-item a:hover{
  font-weight: 700;
}
.header .group-quick{
  position: absolute;
  top: 55px;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 0;
  background: #fff;
  transition: height .2s;
  z-index: 1;
  overflow: hidden;
}
.header .group-quick.on{
  height: 355px;
}
.header .group-quick [class*='area']{
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}
.header .group-quick .buisness-area{
  gap: 8px;
}
.header .group-quick .buisness-area a{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding: 9px 16px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
}
.header .group-quick .buisness-area a:nth-child(1){
  background: rgb(255,248,231);
}
.header .group-quick .buisness-area a:nth-child(2){
  background: #e9ecef;
}
.header .group-quick .buisness-area a:nth-child(3){
  background: rgb(230,246,255);
}
.header .group-quick .buisness-area a i{
  display: block;
  width: 36px;
  height: 36px;
  padding: 6px;
  background: #fff;
  border-radius: 10px;
}
.header .group-quick .buisness-area a i svg{
  width: 24px;
  height: 24px;
}
.header .group-quick .buisness-area a i svg path{
  fill: rgba(0,0,0,.5);
  stroke: rgba(0,0,0,.5);
}
.header .group-quick .quick-area{
  gap: 10px;
  width: 180px;
  padding: 0 16px;
  border-left: 1px solid #f2f4f6;
}
.header .group-quick .quick-area strong{
  font-size: 12px;
  font-weight: 400;
  color: #868e96;
}
.header .group-quick .quick-area a{
  position: relative;
  font-size: 15px;
  white-space: nowrap;
}
.header .group-quick .quick-area a.event{
  display: flex;
  align-items: center;
  gap: 3px;
}
.header .group-quick .quick-area a.event::after{
  content: 'NEW';
  display: block;
  height: 16px;
  padding: 0 5px;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
  line-height: 16px;
  border-radius: 8px;
  background: #f66;
}
.group-quick-bg{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.3);
  z-index: 0;
}
.group-quick-bg.on{
  display: block;
}

/* footer */
.footer{
  padding: 120px 0 80px;
}
.footer .group-top{
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
}
.footer .group-top .inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .group-top .content-list{
  display: flex;
  align-items: center;
}
.footer .group-top .content-item{
  position: relative;
}
.footer .group-top .content-item a,
.footer .group-top .content-item button{
  display: flex;
  align-items: center;
  gap: 4px;
  height: 40px;
  padding: 0 16px 0 12px;
}
.footer .group-top .content-item span{
  font-size: 14px;
}
.footer .group-top .content-item.bold span{
  font-weight: 700;
}
.footer .group-top .content-item svg{
  width: 15px;
  height: 15px;
  opacity: 0.8;
  transform: rotate(90deg);
  transition: transform .3s;
}
.footer .group-top .content-item svg path{
  stroke: #495057;
}
.footer .group-top .content-sublist{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 270px;
  padding: 8px 16px;
  font-size: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(21, 16, 16, 0.15);
  border: solid 1px #babdc0;
  border-radius: 8px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.footer .group-top .content-item.bold .content-sublist{
  font-weight: 700;
}
.footer .group-top .content-sublist.partner{
  width: 320px;
}
.footer .group-top .content-sublist.on{
  opacity: 1;
  visibility: visible;
}
.footer .group-top .content-sublist.sns{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.footer .group-top .content-subitem a{
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  padding: 0;
}
.footer .group-top .content-subitem .title{
  display: inline-block;
  font-style: 15px;
  font-weight: 700;
  margin-right: 4px;
}
.footer .group-top .content-subitem .mail{
  color: #1d2129;
}
.footer .group-top .content-subitem .more::before{
  content: '';
  display: inline-block;
  margin: 0 2.5px;
  width: 1px;
  height: 10px;
  background: #1d2129;
}
.footer .group-top .content-subitem svg{
  transform: rotate(0);
}
.footer .group-top .content-sublist.lang .content-subitem svg{
  opacity: 0;
}
.footer .group-top .content-sublist.lang .content-subitem:nth-child(1) svg{
  opacity: 1;
}
.footer .group-middle{
  padding: 40px 0 80px;
}
.footer .group-middle .inner{
  display: flex;
  gap: 80px;
}
.footer .group-middle .col-left{
  width: 255px;
}
.footer .group-middle .col-right{
  flex: 1;
}
.footer .group-middle .col-left > strong{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
}
.footer .group-middle .col-left > strong img{
  width: 20px;
  height: 20px;
}
.footer .group-middle .content-item a{
  display: flex;
  align-items: center;
  gap: 8px;
  height: 28px;
  margin: 8px 0;
}
.footer .group-middle .content-item svg{
  width: 20px;
  height: 20px;
}
.footer .group-middle .content-item svg path{
  fill: rgba(0,0,0,.54);
}
.footer .group-middle .time-area{
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
  padding-top: 20px;
  border-top: 1px solid #e9ecef;
  font-size: 14px;
  color: #868e96;
}
.footer .group-middle .time-area strong{
  font-weight: 700;
}
.footer .group-middle .info-area span,
.footer .group-middle .info-area address,
.footer .group-middle .info-area a{
  display: inline-block;
  font-size: 14px;
  height: 20px;
}
.footer .group-middle .info-area span::before,
.footer .group-middle .info-area address::before,
.footer .group-middle .info-area a::before{
  content: "|";
  display: inline-block;
  margin: 0 5px;
  color: #dde2e6;
}
.footer .group-middle .info-area .no-before:before{
  display: none;
}
.footer .group-middle .info-area small{
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 900;
}
.footer .group-middle .desc-area{
  margin-top: 16px;
  font-size: 14px;
  color: #868e96;
}
.footer .group-middle .app-area{
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.footer .group-middle .app-area a{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #212529;
}
.footer .group-middle .app-area a img{
  width: 24px;
  height: 24px;
}

/* header.mobile */
.header.mobile{
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  z-index: 99999;
}
.header.mobile .link-search{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 400;
  color: #adb5bd;
  border: 1px solid #dde2e6;
  border-radius: 4px;
}
.header.mobile svg{
  width: 24px;
  height: 24px;
}

/* group-float */
.group-float{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px 0;
  background: #fff;
  z-index: 99999;
}
.group-float .content-list{
  display: flex;
}
.group-float .content-item{
  flex: 1;
  opacity: 0.5;
}
.group-float .content-item.on{
  opacity: 1;
}
.group-float .content-item a{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}
.group-float .content-item svg path{
  fill: #000;
}
.group-float .content-item:last-child svg path:first-child{
  fill: #000;
}
.group-float .content-item:last-child svg path:last-child{
  fill: transparent;
}